@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.App {
  height: 100vh;
  font-family: Oxygen;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header {
  height: 10%;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
.main {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-direction: column;
}
.body {
  display: flex;
  height: 05%;
  font-size: 40px;
  gap: 30px;
}
.key {
  height: 10%;
}
.crossed {
  text-decoration: line-through;
  border-style: none;
  font-weight: bolder;
  flex: 0.5;
  color: black;
  font-size: medium;
}
.notCrossed {
  flex: 0.5;
}
.Delete {
  border-style: none;
  background-color: transparent;
  flex: 0.25;
  color: #5c47d2;
}

#Add-task {
  border-radius: 10px;
  width: 15%;
  margin-left: 45%;
  background-color: #5c47d2;
  color: whitesmoke;
  font-size: larger;
}
.icon {
  height: 20px;
}
footer {
  height: 10%;
}
