@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.App {
  height: 100vh;
  font-family: Oxygen;
  /* display: flex;
  flex-direction: column;
  text-align: center; */
}
header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
.main {
  height: 80%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.body {
  display: flex;
  height: 05%;
  font-size: 40px;
  gap: 10px;
}
::placeholder {
  font-weight: bolder;
  font-size: medium;
  color: lightgray;
}
.key {
  height: 10%;
}
.crossed {
  text-decoration: line-through;
  border-style: none;
  font-weight: bolder;
  flex: 0.5;
  color: black;
  font-size: 30px;
}
.notCrossed {
  flex: 0.5;
  font-size: 30px;
}
.delete {
  border-style: none;
  background-color: transparent;
  flex: 0.25;
  color: #5c47d2;
}
.resetAndAddButtons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
#add-task {
  border-radius: 10px;
  width: 15%;

  background-color: #5c47d2;
  color: whitesmoke;
  font-size: larger;
}
#reset {
  border-radius: 10px;
  width: 15%;
  background-color: lightcoral;
  color: whitesmoke;
  font-size: larger;
  border-style: none;
}
.icon {
  font-size: 30px;
}
footer {
  height: 10%;
  display: flex;
  justify-content: center;
}
footer b {
  font-weight: bolder;
}
