@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

.App {
  height: 100vh;
  font-family: Oxygen;
}
header {
  height: 10%;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
.main {
  height: 80%;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-direction: column;
}
.body {
  display: flex;
  height: 10%;
}
.key {
  height: 20%;
}
.crossed {
  text-decoration: line-through;
}
.notCrossed {
}
.Delete {
  height: 100%;
}
Add {
  height: 100%;
}
#Add-task {
  border-radius: 10px;
}
footer {
  height: 100%;
}
